doctype html 
html 
head
title = Café les noces de Caana 
link(rel='stylesheet', href= '/stylesheets/stye.css')
body 
nav 
a(href='/') Accueil 
a(href='/services') Nos Services 
a(href='/contact') Nous Contacter
h1 = Les Noces de Caana 
p Bienvenue aux noces de Caana, ici se détendre redevient un plaisir.